// Variables
// Restated Bootstrap Variables
$white: #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #868e96 !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black: #000 !default;
$primary: #25d366 !default;
$blue: #043c5c !default;
$second_blue: #2d96cd !default;
$information-phone: "screen and (min-width : 0px) and (max-width: 768px)";
$information-phone-small: "screen and (min-width : 576px)";
$information-tablets: "screen and (min-width : 768px) and (max-width: 992px)";
$information-desktop: "screen and (min-width : 992px)";
$information-desktop-lg: "screen and (min-width : 1200px)";
$information-desktop-bg: "screen and (min-width : 2300px)";